.otherProjects {
  .title {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    .heading {
      font-size: clamp(24px, 5vw, 32px);
      color: var(--light-slate);
      font-size: 600;
    }
    .subHeading {
      font-size: 14px;
      color: var(--theme-color);
      &:hover {
        text-decoration-line: underline;
        cursor: pointer;
      }
    }
  }
  .project-grid {
    list-style: none;
    padding: 0px;
    margin: 50px 0px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    position: relative;
    .card {
      box-shadow: 0 10px 30px -15px var(--navy-shadow);
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      height: 100%;
      padding: 2rem 1.75rem;
      border-radius: var(--border-radius);
      background-color: var(--light-navy);
      transition: var(--transition);
      overflow: auto;
      border-radius: 20px;
      header {
        width: 100%;
        .project {
          &-top {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 35px;
            .folder {
              color: var(--theme-color);
              svg {
                height: 40px;
                width: 40px;
              }
            }
            ul {
              z-index: 5;
              display: flex;
              align-items: flex-end;
              gap: 0.5rem;
              font-size: var(--tlarge2);
              list-style-type: none;
              display: flex;
              gap: 1rem;
              .project-info-links-item {
                transition: 0.3s ease-in-out;
                display: flex;
                justify-content: center;
                align-items: center;
                &-link {
                  padding: 10px;
                  color: var(--lightest-slate);
                  transition: 0.3s ease-in-out;
                  outline: 2px dashed transparent;
                  &:hover {
                    color: var(--theme-color);
                  }
                  &:focus {
                    outline-color: var(--theme-color);
                    transform: translateY(-4px);
                    color: var(--theme-color);
                  }
                }
              }
            }
          }
          &-description {
            background-color: var(--light-navy);
            p {
              color: var(--light-slate);
              font-family: var(--raleway);
              text-align: start;
              font-size: 17px;
              line-height: 1.3;
              font-weight: 200;
            }
          }
          &-title {
            width: max-content;
            color: var(--lightest-slate);
            font-size: var(--txlarge);
            font-family: var(--raleway);
            font-weight: 600;
            cursor: pointer;
            margin: 0 0 10px;
          }
        }
      }
      &:hover {
        header {
          .project {
            &-title {
              color: var(--theme-color);
            }
          }
        }
      }
      footer {
        .project-info-tech-list {
          display: flex;
          list-style-type: none;
          gap: 1rem;
          flex-wrap: wrap;
          &-item {
            color: var(--light-slate);
            font-family: var(--raleway);
          }
        }
      }
    }
  }
}
